/* PALETA DE COLORES
*
*/

body {
  font-size: 16px;
  padding-top: 3.3rem;
}

/* COVER */
.jumbotron {
  background-image: url(./../img/cover.jpg);
  background-size: cover;
  background-position: center 65%;
  background-repeat: no-repeat;
  min-height: 55vh;
  margin-bottom: 0;
}

/* ABOUT */
#about {
  padding: 3rem 0;
}